<?xml version="1.0" encoding="utf-8"?>
<config>
  <params>
    <param name="dealer_id" type="text" default="" label="Код автосалона" description="Код автосалона" size="30" />
    <param name="password" type="text" default="" label="Пароль" description="Пароль для доступа к данным" size="30" />
    <param name="api_version" type="text" default="1" label="Версия API" description="Номер используемой версии API" size="2" />
    <param name="rows_by_page" type="text" default="20" label="Объявлений на странице" description="Количество объявлений на странице со списком авто" size="2" />
    <param name="prefix" type="text" default="max_" label="Префикс" description="Префикс для отделения параметров сервиса от прочих параметров страницы (например куки)" size="10" />
  </params>
</config>